<a href="https://colab.research.google.com/github/Ugot-Aaron-Paul/OOP-58001/blob/main/Fundamentals_of_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [2]:
if 5>2:
   print ("Five is greater than two!")

Five is greater than two!

Python Comment

In [4]:
#This is a comment
print ("Hello world")

Hello world

Python Variable

In [8]:
x = 1

#Single variable with multiple values

array = [1,2,3]
print (array)

#Multiple variables with single value

a = b = c = "Aaron"

print (a)
print (b)
print (c)

[1, 2, 3]
Aaron Aaron
Aaron
Aaron

Casting

In [9]:
n = int(4)
print (n)

4

Type Function

In [11]:
c = "Aaron"
d =  5.6

print (type(c))
print (type(d))

<class 'str'>
<class 'float'>