<a href="https://colab.research.google.com/github/Ugot-Aaron-Paul/OOP-58001/blob/main/Fundamentals%20of%20python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [2]:
if 5>2:
   print ("Five is greater than two!")

Five is greater than two!

Python Comment

In [4]:
#This is a comment
print ("Hello world")

Hello world

Python Variable

In [8]:
x = 1

#Single variable with multiple values

array = [1,2,3]
print (array)

#Multiple variables with single value

a = b = c = "Aaron"

print (a)
print (b)
print (c)

[1, 2, 3]
Aaron Aaron
Aaron
Aaron

Casting

In [9]:
n = int(4)
print (n)

4

Type of function

In [11]:
c = "Aaron"
d =  5.6

print (type(c))
print (type(d))

<class 'str'>
<class 'float'>

"Double quotes" or 'Single' quotes

In [ ]:
y = "John"
y = 'John'

Case sensitive

In [ ]:
a = 4
A = "Aaron"
#A will not overwrite a

Multiple Variables

In [13]:
x, y, z = "one", "two", "three"

print (x)
print (y)
print (z)

one
two
three

One value to Multiple Variables

In [14]:
x = y = z = "four"

print (x)
print (y)
print (z)

four
four
four

Output Variable

In [16]:
x = "enjoying"
print("Python programming is " + x)

Python programming is enjoying

Arithmetic Operations

In [17]:
x = 5
y= 3
print(x+y)

8

Assignment Operations

In [18]:
a,b,c = 0,-1,6
c%=3
c

0

Comparison Operations

In [24]:
y=5
x == y

print(x)

b=5
a!=b

print(a)

5
5

Logical Operations

In [25]:
a,b,c = 0,-1,6
a>b and c>b
True

True

Identity Operations

In [26]:
a,n,c = 0,-1,5
a is c
False

False