<a href="https://colab.research.google.com/github/Ugot-Aaron-Paul/OOP-58001/blob/main/List%2C%20tuples%2C%20and%20Set%20Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [13]:
class Shapes:
  def __init__(self,length, width):
    self.length=length
    self.width=width
  def area(self):
    return self.length * self.width

rectangle = Shapes(10,5)
rectangle.area()

50

In [33]:
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def me(self):
    print("Name is " + self.name + ", " + "My age is " + self.age)

people=person("Ugot", "19")
people.me()

Name is Ugot, My age is 19

List

In [38]:
pi = 3.14159
varlist = ['abc',1,'def',2]
print(varlist[0])

varlist.append('ghi')
print(varlist)
varlist.remove(2)
print(varlist)
varlist.insert(3,3)
print(varlist)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 3, 'ghi']

Dictionaries

In [41]:
students = {
    1:"ypanto",
    2:"tugaoen",
    3:"turiano",
    4:"valdez",
    5:"jamandre",
    6:"novilla",

}

print(students)

{1: 'ypanto', 2: 'tugaoen', 3: 'turiano', 4: 'valdez', 5: 'jamandre', 6: 'novilla'}