<a href="https://colab.research.google.com/github/Ugot-Aaron-Paul/OOP-58001/blob/main/LOOP%20Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

for loop

In [13]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break statement

In [12]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  print(x) #it on 
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [23]:
for x in week:
  if x == "Thursday":
    print(x)  #it only displays thursday
    break

Thursday

In [27]:
for x in week:
  if x == "Thursday":
    break
  print(x) # it only displays sunday to wednesday

Sunday
Monday
Tuesday
Wednesday

In [58]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]

for x in week:
  if x == "Tuesday":
    print(x)
  if x == "Wednesday":
    print(x)
    break

Tuesday
Wednesday

looping through a string

In [46]:
for x in "week":
  print(x)

w
e
e
k

Nested loops

In [49]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

while loop

In [67]:
i = 1

while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

In [74]:
#using break statement
i = 1

while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [73]:
i = 1

while i < 6: 
  if i == 3:
    print(i) #print only 3
    break
  i += 1

3

The else statement

In [76]:
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

Application 1

In [84]:
i = 0

while i <= 10:
  print("Hello",i) 
  i+=1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Application 2

In [87]:
i = 9

while i >= 3:
  print(i)
  i-=1

9
8
7
6
5
4
3